* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        padding: 10px 16px;
      text-decoration: none;
      color: #1c1c1c;
    }

    font-family: sans-serif;

    li {
      list-style: none;
    }
  }